$red: red;
$yellow: yellow;
$green: green;
.inline-display {
  display: inline;
}
.todo-name {
  margin-top: 20px !important;
}
.yellow {
  color: $yellow;
}
.action-buttons {
  display: "inline";
  margin: "10px";
  float: "right";
}
.red {
  color: $red;
}

.green {
  color: $green;
}
.none {
  display: none;
}
