.input-container {
  input {
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 15px #bfbfbf, -5px -5px 15px #ffffff;
    padding: 10px;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
  }
  input:hover {
    box-shadow: 7px 7px 20px #bfbfbf, -7px -7px 20px #ffffff;
  }
  input:focus {
    box-shadow: 7px 7px 20px #bfbfbf, -7px -7px 20px #ffffff,
      inset 5px 5px 10px #bfbfbf, inset -5px -5px 10px #ffffff;
  }
}
